<?php $this->load->view('pnnl_template/view_header'); ?>
<body>
  <?php $this->load->view('pnnl_template/intranet_banner'); ?>
  <div id="page">
  <?php $this->load->view('pnnl_template/top',$navData['current_page_info']); ?>
  <div id="container">
    <div id="main">
      <h2>Missing <?= ucwords($lookup_type_desc) ?> Error</h2>
      <span class="error_container"><?= $error_message ?></span>
    </div>
  </div>
    <?php $this->load->view('pnnl_template/view_footer'); ?>
  </div>
</body>
</html>
<?php exit; ?>