<?php $hash_list = array(); ?>
<?php $informational_message = !empty($informational_message) ? $informational_message : ""; ?> 
<?php if(!empty($transaction_data)): ?>
<div id="info_message_container">
  <h2 style="margin-top:1em;text-align:center;font-size:1.2em;"><?= $informational_message ?></h2>
</div>
<?php foreach($transaction_data['times'] as $upload_time_string => $transaction_id): ?>
<?php
      $upload_time = new DateTime($upload_time_string);
      $transaction_info = $transaction_data['transactions'][$transaction_id];
      $friendly_upload_time = $upload_time->format('g:ia \o\n D, M j Y');
      $status_steps = !empty($transaction_info['status']) ? array_pop($transaction_info['status']) : array('0' => array('trans_id' => $transaction_id, 'step' => '0')); 
      krsort($status_steps);
      $latest_step_info =  array_pop(array_slice($status_steps, 0,1, true));
      $latest_step = $latest_step_info['step'];
?>
    <fieldset id="fieldset_<?= $transaction_id ?>" class="transaction_container">
      <legend>Uploaded at <?= $friendly_upload_time ?> [Upload ID <?= $transaction_id ?>]</legend>
<?php
  $bar_info = array(
    'latest_step' => $latest_step,
    'status_list' => $status_list,
    'transaction_id' => $transaction_id
  ); 
?>
<?php $bar_text = trim($this->load->view('status_breadcrumb_insert_view.html',$bar_info, true)); ?>
<?php $hash_list[$transaction_id] = sha1($bar_text); ?>
      <div class="bar_holder" id="bar_holder_<?= $transaction_id ?>"><?= $bar_text ?></div>
      <div class="full_width_block">
        <h3><span>Metadata Uploaded</span><span id='metadata_<?= $transaction_id ?>_dc' class="disclosure_button dc_up"></span></h3>
        <ul class="metadata_container">
          <li>
            <span class="metadata_term">Transaction ID: </span>
            <span class="metadata_def"><?= $transaction_id ?></span>
          </li>  
        <?php if(!empty($transaction_info['groups'])): ?>        
        <?php foreach($transaction_info['groups'] as $type => $content): ?>
          <?php $cleaned_type_name = str_ireplace("id","ID", ucwords(str_replace("_"," ",$type))); ?>
          <li class="metadata_item">
            <span class="metadata_term"><?= strpos($type,'.') > 0 ? $type : $cleaned_type_name; ?>: </span>
            <span class="metadata_def"><?= $content ?></span>
          </li>
        <?php endforeach; ?>
        <?php endif; ?>
        </ul>
      </div>
      <?php if($request_type == 't'): ?>
      <div class="full_width_block" style="width:95%;">
        <h3>File List</h3>
        <div class="disclosure_block">
          <div id="tree_<?= $transaction_id ?>" class="tree_holder">
            <ul id="treeData_<?= $transaction_id ?>" style="display:none;" >
              <li id="treeData_<?= $transaction_id ?>" class="lazy folder"><span>Uploaded Data 
                <?php if(isset($transaction_sizes) && array_key_exists($transaction_id,$transaction_sizes)): ?>
                <span class='folder_size_summary'>[Total Size: <?= format_bytes($transaction_sizes[$transaction_id]) ?>]</span>
                <?php endif; ?>
                </span>
              </li>
            </ul>
          </div>
          <div class='full_width_block buttons' id="dl_button_container_<?= $transaction_id ?>" style="margin-top:1em;display:none;">
            <input type='hidden' id='cart_id_<?= $transaction_id ?>' class='cart_id_storage' value='' />
            <div class="left_block" style="width:80%">
              <span id="status_block_<?= $transaction_id ?>" class='download_status'>&nbsp;</span>
            </div>
            <div class="right_block" style="width:15%">
              <input type="button" class="dl_button" id="dl_button_<?= $transaction_id ?>" style="position:relative;right:0;bottom:0;" value="Queue Selected Files for Download" />
            </div>
          </div>
        </div>
      </div>
      <?php endif; ?>
      <div class="full_width_block" id="error_msg_container_<?= $transaction_id ?>" style="display:none;">
        <span class="error" id="error_msg_<?= $transaction_id ?>"></span>
      </div>
    </fieldset>
  <?php endforeach; ?>
<?php else: ?>
  <h2 style="text-align:center;font-size:1.5em;"><?= $informational_message ?></h2>
<?php endif; ?>
<script type="application/javascript">
  var hash_list = <?=  json_encode($hash_list); ?>;
</script>
