<?php $hash_list = array(); ?>
<?php if(!empty($transaction_data)): ?>
<?php foreach($transaction_data['times'] as $upload_time_string => $transaction_id): ?>
<?php
      $upload_time = new DateTime($upload_time_string);
      $transaction_info = $transaction_data['transactions'][$transaction_id];
      $friendly_upload_time = $upload_time->format('g:ia \o\n D, M j Y');
      $status_steps = array_pop($transaction_info['status']);
      krsort($status_steps);
      $latest_step_info =  array_pop(array_slice($status_steps, 0,1, true));
      $latest_step = $latest_step_info['step'];
?>
    <fieldset id="fieldset_<?= $transaction_id ?>" class="transaction_container">
      <legend>Uploaded at <?= $friendly_upload_time ?></legend>
<?php
  $bar_info = array(
    'latest_step' => $latest_step,
    'status_list' => $status_list,
    'transaction_id' => $transaction_id
  ); 
?>
<?php $bar_text = trim($this->load->view('status_breadcrumb_insert_view.html',$bar_info, true)); ?>
<?php $hash_list[$transaction_id] = sha1($bar_text); ?>
      <div class="bar_holder" id="bar_holder_<?= $transaction_id ?>"><?= $bar_text ?></div>
      <div class="full_width_block">
        <h2><span>Upload Metadata</span><span id='metadata_<?= $transaction_id ?>_dc' class="disclosure_button dc_up"></span></h2>
        <ul class="metadata_container">
          <li>
            <span class="metadata_term">Transaction ID: </span>
            <span class="metadata_def"><?= $transaction_id ?></span>
          </li>          
        <?php foreach($transaction_info['groups'] as $type => $content): ?>
          <?php $cleaned_type_name = str_ireplace("id","ID", ucwords(str_replace("_"," ",$type))); ?>
          <li class="metadata_item">
            <span class="metadata_term"><?= strpos($type,'.') > 0 ? $type : $cleaned_type_name; ?>: </span>
            <span class="metadata_def"><?= $content ?></span>
          </li>
        <?php endforeach; ?>
        </ul>
      </div>
      <div class="full_width_block" style="width:95%;">
        <h2>File List</h2>
        <div class="disclosure_block">
          <div id="tree_<?= $transaction_id ?>" class="tree_holder">
            <ul id="treeData_<?= $transaction_id ?>" >
            <?php $ul_list = ""; ?>
            <?php format_folder_object_html($transaction_info['files']['folders'], $ul_list); ?>
              <li class='folder'>Uploaded Data
                <ul><?= $ul_list ?></ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </fieldset>
  <?php endforeach; ?>
<?php else: ?>
  <h2 style="text-align:center;font-size:1.5em;">No Uploads for this instrument were found in this time period</h2>
<?php endif; ?>
<script type="application/javascript">
  var hash_list = <?=  json_encode($hash_list); ?>;
</script>
