.bar_holder span{
        text-align: center;
        vertical-align: super;
        background-image:url('/myemsl/status/status_block_wide.png');
        background-repeat:no-repeat;
        width:155px;
        height: 34px;
        display: inline-block;
        padding-top: 12px;
        font: bold medium "Helvetica";
        color: white;
        text-shadow: gray 1px 1px 1px;
        margin-left: -40px;
}

.tree_holder {
  margin-top:10px;
}

.fancytree-container:focus {
  outline-style: none;
}

.selector_spinner_container{
  position: absolute;
  right: -15px;
  top: -1px;
  width: 28px;
  height: 27px;
}

.folder_size_summary{
  font-size: 0.75em;
  font-style: italic;
  color: #666;
}

.transaction_container h3 {
  margin-bottom:0 !important;
  margin-top:10px;
  color: #3c4c1f;
}

ul.metadata_container li{
  margin-left:2em !important;
  margin-bottom: 2px !important;
  list-style: none;
}

.metadata_term {
  font-weight: bold;
  color:#3c4c1f;
}

.transaction_container{
  margin-bottom:1em;
}

/*.bar_holder {
  text-align:center;
  margin-bottom:1em;
}
.red_bar_end {
  background-position: 0 0;
}
.orange_bar_end {
  background-position: 0 -50px;
}
.green_bar_end {
  background-position: 0 -100px;
}
.bar_holder {
	margin-left: 26px;
	position: relative;
}*/
.tooltip {
	text-decoration:none;
}

.block_0 {
  left:0px;
}

.block_1 {
  left:125px;
}

.block_2 {
  left:250px;
}

.side-corner-tag {
  position: relative;
  color: #fff;
  display: inline-block;
  padding: 5px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-weight: 900;
} 

.side-corner-tag p {
  display: inline;  
}

.side-corner-tag p span {
  position: absolute;
  display: inline-block;
  right: -25px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
  text-align: center;
  text-transform: uppercase;
  top: 22px;
  background: #d93131;
  width: 100px;
  padding: 3px 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
} 

.side-corner-tag p:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -17px;
  right: 69px;
  z-index: -1;
  border: 17px solid;
  border-color: transparent transparent #662121 transparent;
}

.side-corner-tag p:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 74px;
  z-index: -1;
  right: -10px;
  border: 17px solid;
  border-color: #662121 transparent transparent transparent;
}
#info_message_container h2 {
  color: #719500;
}

