.bar_holder span{
        text-align: center;
        vertical-align: super;
        background-image:url('/myemsl/status/status_block_wide.png');
        background-repeat:no-repeat;
        width:155px;
        height: 34px;
        display: inline-block;
        padding-top: 9px;
        font: bold medium "Avenir LT Std";
        color: white;
        text-shadow: gray 1px 1px 1px;
        margin-left: -30px;
        position:relative;
}

.bar_holder {
  text-align:center;
}
.red_bar_end {
  background-position: 0 0;
}
.orange_bar_end {
  background-position: 0 -50px;
}
.green_bar_end {
  background-position: 0 -100px;
}
.bar_holder {
	margin-left: 26px;
	position: relative;
}
.tooltip {
	text-decoration:none;
}
